In [1]:
import pandas as pd
import datetime as dt

In [2]:
df= pd.read_csv(r"D:\Python\functions\audible_uncleaned.csv")

In [3]:
df.head(10)

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
5,The Hunger Games: Special Edition,Writtenby:SuzanneCollins,Narratedby:TatianaMaslany,10 hrs and 35 mins,30-10-18,English,5 out of 5 stars72 ratings,656.00
6,Quest for the Diamond Sword,Writtenby:WinterMorgan,Narratedby:LukeDaniels,2 hrs and 23 mins,25-11-14,English,5 out of 5 stars11 ratings,233.00
7,The Dark Prophecy,Writtenby:RickRiordan,Narratedby:RobbieDaymond,12 hrs and 32 mins,02-05-17,English,5 out of 5 stars50 ratings,820.00
8,Merlin Mission Collection,Writtenby:MaryPopeOsborne,Narratedby:MaryPopeOsborne,10 hrs and 56 mins,02-05-17,English,5 out of 5 stars5 ratings,"1,256.00"
9,The Tyrant’s Tomb,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 22 mins,24-09-19,English,5 out of 5 stars58 ratings,820.00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

In [5]:
df.shape

(87489, 8)

In [6]:
df.describe()

,name,author,narrator,time,releasedate,language,stars,price
count,87489,87489,87489,87489,87489,87489,87489,87489
unique,82767,48374,29717,2284,5058,36,665,1011
top,The Art of War,"Writtenby:矢島雅弘,石橋遊",Narratedby:anonymous,2 mins,16-05-18,English,Not rated yet,586.00
freq,20,874,1034,372,773,61884,72417,5533

In [7]:
df.isnull().sum()

name           0
author         0
narrator       0
time           0
releasedate    0
language       0
stars          0
price          0
dtype: int64

In [8]:
df.duplicated().sum()

0

In [10]:
df.author=df.author.str.replace('Writtenby:','')
#removing writtenby from column author

In [14]:
df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,04-08-08,English,5 out of 5 stars34 ratings,468.00
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,01-05-18,English,4.5 out of 5 stars41 ratings,820.00
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,06-11-20,English,4.5 out of 5 stars38 ratings,410.00
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,05-10-21,English,4.5 out of 5 stars12 ratings,615.00
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,13-01-10,English,4.5 out of 5 stars181 ratings,820.00
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,ChrisStewart,7 hrs and 34 mins,09-03-17,English,Not rated yet,596.00
87485,The Alps,StephenO'Shea,RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820.00
87486,The Innocents Abroad,MarkTwain,FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938.00
87487,A Sentimental Journey,LaurenceSterne,AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680.00
87488,Havana,MarkKurlansky,FleetCooper,6 hrs and 1 min,07-03-17,English,Not rated yet,569.00

In [13]:
df.narrator=df.narrator.str.replace('Narratedby:','')

In [15]:
pd.set_option('display.max.rows',1020)

In [16]:
listofstring=[]
for x in df['time']:
    listofstring.extend(x.split())

set(listofstring)
#checking for unwanted words from the column time

{'1',
 '10',
 '102',
 '11',
 '111',
 '12',
 '122',
 '126',
 '13',
 '14',
 '143',
 '15',
 '16',
 '17',
 '18',
 '19',
 '2',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '3',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '4',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '5',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '6',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '67',
 '69',
 '7',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '78',
 '8',
 '81',
 '82',
 '83',
 '85',
 '87',
 '9',
 '92',
 '95',
 '98',
 'Less',
 'and',
 'hr',
 'hrs',
 'min',
 'mins',
 'minute',
 'than'}

In [17]:
df['time']=df['time'].str.replace('hrs','hr')
#standardising spelling of hour

In [18]:
df['time']=df['time'].str.replace('mins','min').str.replace('minute','min')
#standardising spelling of minute

In [44]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price,timeinminutes
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hr and 20 min,04-08-08,English,5 out of 5 stars34 ratings,468.00,140
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hr and 8 min,01-05-18,English,4.5 out of 5 stars41 ratings,820.00,788
2,The Deep End,JeffKinney,DanRussell,2 hr and 3 min,06-11-20,English,4.5 out of 5 stars38 ratings,410.00,123
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hr and 16 min,05-10-21,English,4.5 out of 5 stars12 ratings,615.00,676
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hr,13-01-10,English,4.5 out of 5 stars181 ratings,820.00,600

In [21]:
df['hours']=df.time.str.extract(r'(\d+) hr')
#extracting the number of hours

In [24]:
df['minutes']=df.time.str.extract(r'(\d+) min')
#extracting the number of minutes

In [31]:
df.minutes.isnull().sum()

0

In [30]:
df.minutes=df.minutes.fillna('0')

In [37]:
df.hours=df.hours.fillna('0')

In [39]:
df['timeinminutes']=df.hours.astype(int)*60 + df.minutes.astype(int)
#converting the time in integer value

In [43]:
df.drop(['hours','minutes'],axis=1,inplace=True)

In [46]:
df.head(10)

,name,author,narrator,time,releasedate,language,stars,price,timeinminutes
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hr and 20 min,2008-08-04,English,5 out of 5 stars34 ratings,468.00,140
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hr and 8 min,2018-05-01,English,4.5 out of 5 stars41 ratings,820.00,788
2,The Deep End,JeffKinney,DanRussell,2 hr and 3 min,2020-11-06,English,4.5 out of 5 stars38 ratings,410.00,123
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hr and 16 min,2021-10-05,English,4.5 out of 5 stars12 ratings,615.00,676
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hr,2010-01-13,English,4.5 out of 5 stars181 ratings,820.00,600
5,The Hunger Games: Special Edition,SuzanneCollins,TatianaMaslany,10 hr and 35 min,2018-10-30,English,5 out of 5 stars72 ratings,656.00,635
6,Quest for the Diamond Sword,WinterMorgan,LukeDaniels,2 hr and 23 min,2014-11-25,English,5 out of 5 stars11 ratings,233.00,143
7,The Dark Prophecy,RickRiordan,RobbieDaymond,12 hr and 32 min,2017-05-02,English,5 out of 5 stars50 ratings,820.00,752
8,Merlin Mission Collection,MaryPopeOsborne,MaryPopeOsborne,10 hr and 56 min,2017-05-02,English,5 out of 5 stars5 ratings,"1,256.00",656
9,The Tyrant’s Tomb,RickRiordan,RobbieDaymond,13 hr and 22 min,2019-09-24,English,5 out of 5 stars58 ratings,820.00,802

In [47]:
df.releasedate=pd.to_datetime(df.releasedate,format='%d-%m-%y')
#converting string column date to datetime

In [62]:
df['num_ratings']=df['stars'].str.extract(r'(\d+) ratings').astype(float)
#extracting the number of ratings

In [63]:
df['avg_rating']= df['stars'].str.extract(r'(\d+|\d+\.\d+) out of').astype(float)
#extracting the average rating

In [50]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price,timeinminutes,num_ratings,avg_rating
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hr and 20 min,2008-08-04,English,5 out of 5 stars34 ratings,468.00,140,34,5
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hr and 8 min,2018-05-01,English,4.5 out of 5 stars41 ratings,820.00,788,41,4.5
2,The Deep End,JeffKinney,DanRussell,2 hr and 3 min,2020-11-06,English,4.5 out of 5 stars38 ratings,410.00,123,38,4.5
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hr and 16 min,2021-10-05,English,4.5 out of 5 stars12 ratings,615.00,676,12,4.5
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hr,2010-01-13,English,4.5 out of 5 stars181 ratings,820.00,600,181,4.5

In [51]:
df['language']= df.language.str.capitalize()

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           87489 non-null  object
 1   author         87489 non-null  object
 2   narrator       87489 non-null  object
 3   time           87489 non-null  object
 4   releasedate    87489 non-null  datetime64[ns]
 5   language       87489 non-null  object
 6   stars          87489 non-null  object
 7   price          87489 non-null  float64
 8   timeinminutes  87489 non-null  int32
 9   num_ratings    9250 non-null   object
 10  avg_rating     15072 non-null  object
dtypes: datetime64[ns](1), float64(1), int32(1), object(8)
memory usage: 7.0+ MB

In [56]:
list(df.price.unique())

['468.00',
 '820.00',
 '410.00',
 '615.00',
 '656.00',
 '233.00',
 '1,256.00',
 '1,206.00',
 '1,093.00',
 '467.00',
 '836.00',
 '1,003.00',
 '957.00',
 '683.00',
 '469.00',
 '374.00',
 '702.00',
 '501.00',
 '284.00',
 '575.00',
 '668.00',
 '305.00',
 '1,170.00',
 '266.00',
 '1,005.00',
 '323.00',
 '516.00',
 '445.00',
 '585.00',
 '703.00',
 '117.00',
 '192.00',
 '76.00',
 '821.00',
 '200.00',
 '706.00',
 '904.00',
 '679.00',
 '112.00',
 '531.00',
 '586.00',
 '1,172.00',
 '949.00',
 '322.00',
 '569.00',
 '398.00',
 '352.00',
 '164.00',
 '234.00',
 '303.00',
 '32.00',
 '166.00',
 '38.00',
 '75.00',
 '799.00',
 '664.00',
 '204.00',
 '568.00',
 '186.00',
 '797.00',
 '99.00',
 '65.00',
 '300.00',
 '113.00',
 '493.00',
 '573.00',
 '759.00',
 '367.00',
 '338.00',
 '1,382.00',
 '105.00',
 '422.00',
 '754.00',
 '492.00',
 '529.00',
 '189.00',
 '258.00',
 '609.00',
 '1,328.00',
 '187.00',
 '726.00',
 '645.00',
 '151.00',
 '115.00',
 '149.00',
 '263.00',
 '307.00',
 '116.00',
 '225.00',
 '959.00',
 '452.00',
 '36.00',
 '265.00',
 '653.00',
 '515.00',
 '227.00',
 '351.00',
 '500.00',
 '333.00',
 '301.00',
 '93.00',
 '397.00',
 '502.00',
 '267.00',
 '384.00',
 '268.00',
 '153.00',
 '733.00',
 '434.00',
 '228.00',
 '600.00',
 '535.00',
 '968.00',
 '854.00',
 '132.00',
 '334.00',
 '401.00',
 '866.00',
 '402.00',
 '420.00',
 '417.00',
 '190.00',
 '251.00',
 '335.00',
 '379.00',
 '719.00',
 '490.00',
 '47.00',
 '478.00',
 '626.00',
 '873.00',
 '281.00',
 '100.00',
 '903.00',
 '721.00',
 '240.00',
 '378.00',
 '82.00',
 '191.00',
 '230.00',
 '140.00',
 '389.00',
 '376.00',
 '441.00',
 '933.00',
 '537.00',
 '756.00',
 '888.00',
 '752.00',
 '512.00',
 '930.00',
 '201.00',
 '197.00',
 '1,063.00',
 '691.00',
 '1,008.00',
 'Free',
 '342.00',
 '713.00',
 '377.00',
 '328.00',
 '439.00',
 '129.00',
 '152.00',
 '657.00',
 '911.00',
 '513.00',
 '163.00',
 '835.00',
 '643.00',
 '382.00',
 '154.00',
 '844.00',
 '1,138.00',
 '553.00',
 '211.00',
 '46.00',
 '837.00',
 '566.00',
 '63.00',
 '1,004.00',
 '725.00',
 '184.00',
 '23.00',
 '670.00',
 '652.00',
 '316.00',
 '375.00',
 '368.00',
 '349.00',
 '70.00',
 '74.00',
 '13.00',
 '139.00',
 '294.00',
 '304.00',
 '357.00',
 '134.00',
 '137.00',
 '176.00',
 '133.00',
 '94.00',
 '938.00',
 '547.00',
 '34.00',
 '936.00',
 '119.00',
 '141.00',
 '628.00',
 '350.00',
 '48.00',
 '491.00',
 '111.00',
 '562.00',
 '690.00',
 '842.00',
 '27.00',
 '773.00',
 '254.00',
 '632.00',
 '1,156.00',
 '199.00',
 '567.00',
 '558.00',
 '143.00',
 '340.00',
 '674.00',
 '279.00',
 '1,013.00',
 '539.00',
 '602.00',
 '694.00',
 '450.00',
 '188.00',
 '660.00',
 '604.00',
 '1,036.00',
 '1,007.00',
 '224.00',
 '1,055.00',
 '802.00',
 '601.00',
 '30.00',
 '528.00',
 '534.00',
 '1,105.00',
 '508.00',
 '95.00',
 '592.00',
 '495.00',
 '1,507.00',
 '220.00',
 '787.00',
 '1,215.00',
 '1,025.00',
 '33.00',
 '165.00',
 '536.00',
 '150.00',
 '499.00',
 '634.00',
 '286.00',
 '517.00',
 '574.00',
 '421.00',
 '520.00',
 '603.00',
 '435.00',
 '167.00',
 '680.00',
 '81.00',
 '879.00',
 '651.00',
 '373.00',
 '762.00',
 '73.00',
 '383.00',
 '67.00',
 '937.00',
 '181.00',
 '239.00',
 '344.00',
 '522.00',
 '455.00',
 '617.00',
 '526.00',
 '243.00',
 '125.00',
 '510.00',
 '414.00',
 '1,340.00',
 '900.00',
 '870.00',
 '315.00',
 '318.00',
 '669.00',
 '770.00',
 '1,255.00',
 '418.00',
 '84.00',
 '976.00',
 '3,348.00',
 '697.00',
 '681.00',
 '505.00',
 '273.00',
 '552.00',
 '891.00',
 '21.00',
 '369.00',
 '83.00',
 '804.00',
 '173.00',
 '1,007.95',
 '60.00',
 '753.00',
 '1,395.00',
 '4,783.00',
 '614.00',
 '454.00',
 '1,162.00',
 '345.00',
 '881.00',
 '827.00',
 '774.00',
 '1,177.00',
 '1,131.00',
 '979.00',
 '955.00',
 '299.00',
 '678.00',
 '205.00',
 '630.00',
 '185.00',
 '317.00',
 '701.00',
 '1,407.00',
 '363.00',
 '17.00',
 '272.00',
 '757.00',
 '395.00',
 '45.00',
 '35.00',
 '208.00',
 '803.00',
 '29.00',
 '226.00',
 '53.00',
 '999.00',
 '1,599.00',
 '633.00',
 '451.00',
 '1,181.00',
 '1,338.00',
 '563.00',
 '1,078.00',
 '62.00',
 '217.00',
 '607.00',
 '56.00',
 '831.00',
 '748.00',
 '867.00',
 '792.00',
 '142.00',
 '430.00',
 '337.00',
 '596.00',
 '330.00',
 '399.00',
 '59.00',
 '1,383.00',
 '1,171.00',
 '280.00',
 '138.00',
 '914.00',
 '985.00',
 '497.00',
 '456.00',
 '737.00',
 '1,641.00',
 '1,633.00',
 '990.00',
 '749.00',
 '292.00',
 '729.00',
 '538.00',
 '622.00',
 '1,505.00',
 '735.00',
 '446.00',
 '1,675.00',
 '699.00',
 '750.00',
 '174.00',
 '1,350.00',
 '1,289.00',
 '689.00',
 '22.00',
 '195.00',
 '1,404.00',
 '223.00',
 '156.00',
 '1,306.00',
 '736.00',
 '751.00',
 '793.00',
 '987.00',
 '460.00',
 '610.00',
 '883.00',
 '1,054.00',
 '1,266.00',
 '346.00',
 '843.00',
 '635.00',
 '1,101.00',
 '727.00',
 '722.00',
 '394.00',
 '897.00',
 '216.00',
 '636.00',
 '1,518.00',
 '665.00',
 '257.00',
 '781.00',
 '391.00',
 '915.00',
 '795.00',
 '1,605.00',
 '444.00',
 '159.00',
 '809.00',
 '862.00',
 '649.00',
 '832.00',
 '659.00',
 '1,254.00',
 '362.00',
 '648.00',
 '519.00',
 '1,311.00',
 '1,200.00',
 '1,876.00',
 '2,345.00',
 '169.00',
 '1,205.00',
 '28.00',
 '372.00',
 '400.00',
 '921.00',
 '1,640.00',
 '427.00',
 '356.00',
 '871.00',
 '641.00',
 '890.00',
 '2,623.00',
 '2,762.00',
 '506.00',
 '738.00',
 '1,759.00',
 '1,012.00',
 '767.00',
 '944.00',
 '1,032.00',
 '1,114.00',
 '621.00',
 '1,665.00',
 '1,020.00',
 '785.00',
 '812.00',
 '193.00',
 '1,195.00',
 '861.00',
 '805.00',
 '160.00',
 '1,406.00',
 '120.00',
 '619.00',
 '416.00',
 '958.00',
 '1,342.00',
 '984.00',
 '761.00',
 '359.00',
 '50.00',
 '341.00',
 '221.00',
 '1,335.00',
 '766.00',
 '1,688.00',
 '92.00',
 '608.00',
 '655.00',
 '620.00',
 '796.00',
 '829.00',
 '561.00',
 '101.00',
 '302.00',
 '1,273.00',
 '1,072.00',
 '110.00',
 '769.00',
 '1,519.00',
 '1,374.00',
 '545.00',
 '405.00',
 '121.00',
 '1,758.00',
 '1,523.00',
 '1,043.00',
 '1,069.00',
 '79.00',
 '1,587.00',
 '1,044.00',
 '791.00',
 '1,405.00',
 '700.00',
 '1,252.00',
 '1,492.00',
 '755.00',
 '481.00',
 '675.00',
 '453.00',
 '974.00',
 '1,226.00',
 '212.00',
 '1,125.00',
 '1,416.00',
 '296.00',
 '1,100.00',
 '913.00',
 '1,357.00',
 '794.00',
 '222.00',
 '650.00',
 '777.00',
 '895.00',
 '717.00',
 '479.00',
 '906.00',
 '856.00',
 '440.00',
 '118.00',
 '1,570.00',
 '1,784.00',
 '728.00',
 '464.00',
 '1,496.00',
 '580.00',
 '1,074.00',
 '577.00',
 '1,480.00',
 '817.00',
 '114.00',
 '946.00',
 '1,288.00',
 '530.00',
 '293.00',
 '2,261.00',
 '605.00',
 '1,188.00',
 '1,002.00',
 '1,196.00',
 '1,057.00',
 '1,146.00',
 '889.00',
 '459.00',
 '1,231.00',
 '591.00',
 '527.00',
 '290.00',
 '1,038.00',
 '1,898.00',
 '1,149.00',
 '581.00',
 '693.00',
 '839.00',
 '543.00',
 '255.00',
 '1,354.00',
 '487.00',
 '778.00',
 '1,238.00',
 '2,010.00',
 '983.00',
 '518.00',
 '1,969.00',
 '846.00',
 '1,218.00',
 '1,088.00',
 '1,210.00',
 '1,190.00',
 '1,512.00',
 '1,412.00',
 '1,875.00',
 '1,126.00',
 '1,535.00',
 '852.00',
 '1,454.00',
 '1,313.00',
 '978.00',
 '58.00',
 '960.00',
 '232.00',
 '806.00',
 '1,598.00',
 '902.00',
 '1,617.00',
 '1,116.00',
 '1,524.00',
 '1,884.00',
 '1,067.00',
 '868.00',
 '425.00',
 '838.00',
 '865.00',
 '1,708.00',
 '511.00',
 '348.00',
 '179.00',
 '555.00',
 '514.00',
 '343.00',
 '542.00',
 '1,133.00',
 '1,053.00',
 '1,153.00',
 '920.00',
 '909.00',
 '982.00',
 '705.00',
 '540.00',
 '1,575.00',
 '477.00',
 '412.00',
 '466.00',
 '627.00',
 '168.00',
 '475.00',
 '548.00',
 '878.00',
 '486.00',
 '877.00',
 '885.00',
 '245.00',
 '808.00',
 '90.00',
 '392.00',
 '504.00',
 '677.00',
 '612.00',
 '404.00',
 '927.00',
 '848.00',
 '269.00',
 '1,073.00',
 '431.00',
 '813.00',
 '551.00',
 '312.00',
 '779.00',
 '550.00',
 '428.00',
 '598.00',
 '409.00',
 '565.00',
 '1,800.00',
 '325.00',
 '1,439.00',
 '1,384.00',
 '476.00',
 '1,167.00',
 '444.95',
 '236.00',
 '1,774.00',
 '996.00',
 '218.00',
 '488.00',
 '2,008.00',
 '893.00',
 '1,753.00',
 '474.00',
 '623.00',
 '206.00',
 '308.00',
 '202.00',
 '198.00',
 '229.00',
 '215.00',
 '270.00',
 '1,144.00',
 '2,275.00',
 '288.00',
 '388.00',
 '1,506.00',
 '122.00',
 '203.00',
 '66.00',
 '887.00',
 '69.00',
 '396.00',
 '433.00',
 '740.00',
 '1,474.00',
 '471.00',
 '96.00',
 '801.00',
 '209.00',
 '816.00',
 '716.00',
 '578.00',
 '326.00',
 '484.00',
 '358.00',
 '507.00',
 '1,141.00',
 '557.00',
 '582.00',
 '390.00',
 '1,130.00',
 '271.00',
 '1,312.00',
 '52.00',
 '295.00',
 '426.00',
 '908.00',
 '1,148.00',
 '262.00',
 '26.00',
 '1,219.00',
 '523.00',
 '696.00',
 '1,608.00',
 '1,398.00',
 '298.00',
 '327.00',
 '241.00',
 '956.00',
 '1,508.00',
 '998.00',
 '541.00',
 '462.00',
 '1,682.00',
 '175.00',
 '1,627.00',
 '1,135.00',
 '1,243.00',
 '1,264.00',
 '1,673.00',
 '210.00',
 '1,547.00',
 '1,360.00',
 '1,302.00',
 '961.00',
 '1,343.00',
 '1,864.00',
 '1,899.00',
 '1,805.00',
 '2,274.00',
 '1,545.00',
 '593.00',
 '1,237.00',
 '583.00',
 '1,594.00',
 '853.00',
 '825.00',
 '1,283.00',
 '1,059.00',
 '1,530.00',
 '1,533.00',
 '1,279.00',
 '1,285.00',
 '892.00',
 '744.00',
 '790.00',
 '1,890.00',
 '1,268.00',
 '1,438.00',
 '704.00',
 '1,571.00',
 '1,332.00',
 '68.00',
 '828.00',
 '1,173.00',
 '1,625.00',
 '1,222.00',
 '884.00',
 '925.00',
 '331.00',
 '1,095.00',
 '1,385.00',
 '2,157.00',
 '285.00',
 '1,265.00',
 '942.00',
 '1,102.00',
 '1,804.00',
 '1,031.00',
 '971.00',
 '918.00',
 '1,359.00',
 '1,112.00',
 '106.00',
 '246.00',
 '1,453.00',
 '692.00',
 '590.00',
 '695.00',
 '2,064.00',
 '970.00',
 '371.00',
 '1,477.00',
 '597.00',
 '89.00',
 '91.00',
 '765.00',
 '170.00',
 '676.00',
 '2,251.00',
 '278.00',
 '214.00',
 '260.00',
 '2,657.00',
 '724.00',
 '171.00',
 '1,822.00',
 '177.00',
 '104.00',
 '2,277.00',
 '1,723.00',
 '2,631.00',
 '249.00',
 '2,764.00',
 '570.00',
 '364.00',
 '136.00',
 '256.00',
 '1,531.00',
 '3,037.00',
 '145.00',
 '1,548.00',
 '1,139.00',
 '483.00',
 '1,909.00',
 '1,339.00',
 '1,516.00',
 '1,244.00',
 '55.00',
 '1,962.00',
 '1,852.00',
 '2,814.00',
 '1,150.00',
 '381.00',
 '3,416.00',
 '1,440.00',
 '1,097.00',
 '86.00',
 '49.00',
 '1,812.00',
 '324.00',
 '1,192.00',
 '952.00',
 '259.00',
 '1,970.00',
 '1,336.00',
 '1,022.00',
 '1,632.00',
 '1,247.00',
 '423.00',
 '1,041.00',
 '18.00',
 '1,058.00',
 '875.00',
 '123.00',
 '980.00',
 '509.00',
 '253.00',
 '2,087.00',
 '642.00',
 '131.00',
 '472.00',
 '415.00',
 '1,923.00',
 '1,476.00',
 '698.00',
 '250.00',
 '572.00',
 '1,034.00',
 '584.00',
 '1,461.00',
 '589.00',
 '291.00',
 '824.00',
 '1,841.00',
 '231.00',
 '1,534.00',
 '1,674.00',
 '172.00',
 '1,993.00',
 '2,231.00',
 '2,004.00',
 '498.00',
 '2,847.00',
 '571.00',
 '306.00',
 '644.00',
 '473.00',
 '1,430.00',
 '932.00',
 '2,082.00',
 '886.00',
 '1,303.00',
 '991.00',
 '403.00',
 '684.00',
 '237.00',
 '287.00',
 '1,590.00',
 '1,435.00',
 '4,185.00',
 '849.00',
 '457.00',
 '155.00',
 '144.00',
 '161.00',
 '147.00',
 '182.00',
 '146.00',
 '238.00',
 '252.00',
 '313.00',
 '148.00',
 '637.00',
 '588.00',
 '922.00',
 '1,378.00',
 '248.00',
 '2,099.00',
 '1,127.00',
 '672.00',
 '2,060.00',
 '723.00',
 '77.00',
 '599.00',
 '1,228.00',
 '1,151.00',
 '917.00',
 '480.00',
 '525.00',
 '465.00',
 '353.00',
 '11.00',
 '1,325.00',
 '387.00',
 '1,239.00',
 '732.00',
 '242.00',
 '2,088.00',
 '219.00',
 '1,120.00',
 '72.00',
 '16.00',
 '385.00',
 '647.00',
 '826.00',
 '7,198.00',
 '1,242.00',
 '1,451.00',
 '3,013.00',
 '3,571.00',
 '2,483.00',
 '2,037.00',
 '6,194.00',
 '2,344.00',
 '2,399.00',
 '758.00',
 '639.00',
 '2,073.00',
 '61.00',
 '631.00',
 '912.00',
 '1,756.00',
 '739.00',
 '618.00',
 '819.00',
 '40.00',
 '559.00',
 '354.00',
 '1,104.00',
 '1,353.00',
 '1,290.00',
 '869.00',
 '711.00',
 '1,463.00',
 '1,037.00',
 ...]

In [57]:
df['price']=df.price.str.replace(',','')
#removing commas from the price column

In [59]:
df['price']=df.price.str.replace('Free','0').astype(float)
#converting price to float

In [64]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price,timeinminutes,num_ratings,avg_rating
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hr and 20 min,2008-08-04,English,5 out of 5 stars34 ratings,468.0,140,34.0,5.0
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hr and 8 min,2018-05-01,English,4.5 out of 5 stars41 ratings,820.0,788,41.0,4.5
2,The Deep End,JeffKinney,DanRussell,2 hr and 3 min,2020-11-06,English,4.5 out of 5 stars38 ratings,410.0,123,38.0,4.5
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hr and 16 min,2021-10-05,English,4.5 out of 5 stars12 ratings,615.0,676,12.0,4.5
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hr,2010-01-13,English,4.5 out of 5 stars181 ratings,820.0,600,181.0,4.5

In [65]:
df['author']=df.author.str.replace(r'(\w)([A-Z])', r'\1 \2', regex= True)
#adding space between first and last name

In [66]:
df['narrator']=df.narrator.str.replace(r'(\w)([A-Z])', r'\1 \2', regex= True)
#adding space between first and last name

In [67]:
df.head()

,name,author,narrator,time,releasedate,language,stars,price,timeinminutes,num_ratings,avg_rating
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2 hr and 20 min,2008-08-04,English,5 out of 5 stars34 ratings,468.0,140,34.0,5.0
1,The Burning Maze,Rick Riordan,Robbie Daymond,13 hr and 8 min,2018-05-01,English,4.5 out of 5 stars41 ratings,820.0,788,41.0,4.5
2,The Deep End,Jeff Kinney,Dan Russell,2 hr and 3 min,2020-11-06,English,4.5 out of 5 stars38 ratings,410.0,123,38.0,4.5
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11 hr and 16 min,2021-10-05,English,4.5 out of 5 stars12 ratings,615.0,676,12.0,4.5
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,10 hr,2010-01-13,English,4.5 out of 5 stars181 ratings,820.0,600,181.0,4.5

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           87489 non-null  object
 1   author         87489 non-null  object
 2   narrator       87489 non-null  object
 3   time           87489 non-null  object
 4   releasedate    87489 non-null  datetime64[ns]
 5   language       87489 non-null  object
 6   stars          87489 non-null  object
 7   price          87489 non-null  float64
 8   timeinminutes  87489 non-null  int32
 9   num_ratings    9250 non-null   float64
 10  avg_rating     15072 non-null  float64
dtypes: datetime64[ns](1), float64(3), int32(1), object(6)
memory usage: 7.0+ MB

In [69]:
df.to_csv('audible_cleaned.csv',index=False)